@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
  --primary: #a50087;
  --secondary: #5845db;
  --primary-gray: #f3f3f3;
  --second-gray: #6e6e6c;
  --red-avisos: #e45761;
  --green-senha: #3dd18c;
  --light-purple: #e2dff7;
}

* {
  font-family: "Poppins", sans-serif;
}

.modal-notification {
  --width: 500px;
  --height: 200px;
  --border-radius: 10px;
}

.modal-dados-perfil {
  --width: 615px;
  --height: 400px;
  --border-radius: 10px;
}
